* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
canvas {
/* background: #ffd89b;
background-image: -webkit-linear-gradient(180deg,#181818, #ba8b02);
background-image: linear-gradient(180deg,#181818, #ba8b02); */
background-color: black;
position: absolute;
top: 0;
left: 0;
}